*{margin: 0;padding: 0;}
    /*
       轮播图
    */
ul,ol{ list-style: none;}
.wrapper{
    width: 1200px;
    height: 480px;
    /*margin: 100px auto;*/
    overflow: hidden;
    position: relative;
}
ul{
    position:relative;
}
ul li{
    position:absolute;
    top:0;
    left:0;
}
ol{
    position: absolute;
    right: 500px;
    bottom: 10px;
    width: 190px;
}
ol li{
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    background-color: #abc;
}
ol li.current{
    background-color: darkred;
}